.cdk-virtual-scroll-data-source-example .example-viewport {
  height: calc(100vh - 2px);
  width: calc(100vw - 2px);
  border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: white;
  margin: 30px;
}
// .cdk-virtual-scroll-data-source-example .example-item:nth-child(even) {
//   margin-top: auto;
// }
.cdk-virtual-scroll-data-source-example .example-item{
  margin-top: auto;
  margin-bottom: auto;
}